
//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../modules/shadows/style" as shadows;

.full-height-container, 
main.home {
    display: flex;
}

.full-height-container {
    min-height: 100vh;

    flex-direction: column;
}

main {
    &.home {
        flex-grow: 1;
    }
}

.mode-toggle-button-container {
    position: fixed;

    inset-block-end: 0;
    inset-inline-end: 0;
    
    margin: var(--spacer-2);

    z-index: 10000;
}

.square {
    transition: transform 0.25s ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.0375);
    }
  }
    