
.theme-canvas, 
main.home {
    display: flex;
}

.theme-canvas {
    min-height: 100vh;
    flex-direction: column;
}

main {
    &.home {
        flex-grow: 1;
    }
}

.theme-button-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: var(--spacer-2);

    z-index: 10000;
}

.square {
    transition: transform 0.25s ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.0375);
    }

  }
    